<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Repository Summary</title>
</head>
<body>
    <div class="container">
        <h1>GitHub Repository Summary</h1>
        <h3>Enter a GitHub username to find out more: </h3>
        <br />
        <br />
        <br />
        <form action="/github" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <input type="submit" value="Submit">
        </form>
        <br />
        <br />
    </div>
</body>
</html>