<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Route</title>
    <style>
        th, td {
            text-align: left;
            padding: 5px 15px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>GitHub Route</h1>
        <table>
            <thead>
                <tr>
                    <th>Repo Name (Click to redirect)</th>
                    <th>Last Updated</th>
                    <th>Commit Hash</th>
                    <th>Author</th>
                    <th>Date Created</th>
                    <th>Last Commit Message</th>
                </tr>
            </thead>
            <tbody>
                {% for repo in repos %}
                <tr>
                    <td><a href="{{ repo.latest_commit.url if repo.latest_commit else '#' }}" target="_blank">{{ repo.name }}</a></td>
                    <td>{{ repo.updated_at[:10] }}</td>
                    <td>{{ repo.latest_commit.sha }}</td>
                    <td>{{ repo.latest_commit.author }}</td>
                    <td>{{ repo.latest_commit.date[:10] }}</td>
                    <td>{{ repo.latest_commit.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>