<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Catometer</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <form action="/submit" method="post">
            <label for="cat_number">Number of cats you want (1-10):</label>
            <input type="number" id="cat_number" name="cat_number" min="1" max="10">
            <input type="submit" value="Submit">
        </form>
        <br />
        <br />
    </div>
</body>
</html>