body {
	font-family: "Inter", sans-serif;	
	background: linear-gradient(to right, #a1c4fd, #5c8ec0);	

}

.container {
    width: 80%;
    height: min-content;
    margin: 100px auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}



.flex-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.icon {

	margin-left: 5px;

}

.cat-pictures {
    margin-top: 200px;
}

.grid-container {

    width:90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* width: 90%;
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1f));
    background-color: antiquewhite; */
}

.grid-container img {
    width: 200px;
    border-radius: 5px;
    object-fit: contain;
    transition: all 0.5s ease-out;
    display: block;
    background-color: red;
}
.grid-container img:hover {
    scale: 1.3;
}